<div class="container">
    <h1 [ngStyle]="{'color': playerEvent.value == 'X' ? 'red': 'green'}" >Player : {{playerEvent.value == 'X' ? "X (IA)" : "O (Moi)"}}</h1>

    <select name="test" id="tt" #matrixSizeInput (change)="setMatrixSize(matrixSizeInput.value)">
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="7">7</option>
    </select>

    <table>
        <tr *ngFor="let row of board; let rowIndex = index">
            <td *ngFor="let column of row; let columnIndex = index" (click)="playMove(rowIndex, columnIndex)">{{column}}</td>
        </tr>
    </table>
    <br>
    <button (click)="resetGame()">reset game</button>
    <br>
    <p *ngIf="lockGame">Partie terminée !! </p>
    <p *ngIf="lockGame && winner">Gagnant : {{winner}}</p>
    <p *ngIf="lockGame && !winner">Match nul !!</p>
</div>
